
services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8080:8080"
    env_file:
      - .env

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:5173"
    command: ["npm", "run", "dev", "--", "--host"]
    env_file:
      - .env
