spring:
    datasource:
        url: jdbc:h2:mem:testdb
        username: sa
        password:
    jpa:
        hibernate:
            ddl-auto: create-drop
        show-sql: true
        properties:
            hibernate:
                format_sql: true

jwt:
    secret: simple_secret_simple_secret_simple_secret_simple_secret